* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "HarmonyOS Sans SC";
    src: url(./res/font.ttf) format('truetype');
}

.title {
    --bg: url(./index_title.jpg) no-repeat center/cover;
    background: var(--bg);
    height: 300px;
    font-family: "HarmonyOS Sans SC";
}

.modal {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.modal h1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    -webkit-text-stroke: 1px #fff;
    background: var(--bg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.album {
    background: linear-gradient(to right, #c5c470, #613c19) no-repeat;
    background-size: 0 2px;
    background-position: right bottom;
    transition: background-size 1s;
}

.album:hover {
    background-position: left bottom;
    background-size: 100% 2px;
}